body {
    background: #D6DBDF
}

.Header {
    height: 3.2rem;
    background: #34495E
}

.TagLeft {
    background: #5D6D7E;
    height: 90rem;
    width: 15%;
}

.body-title {
    display: flex;
    /* justify-content: space-between; */
}

.user-css {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.avatar-dev {
    margin: 10px;
    /* background: red; */
    text-align: center;
}

.avatar {
    border-radius: 10%;
    max-width: 30rem;
    max-height: 30rem;
}